<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.app.mmse">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_descriptor"
            android:icon="@drawable/mmse_logo"
            android:label="@string/app_name"
            android:roundIcon="@drawable/mmse_logo_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".new_toolbox.NewToolboxActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".authentication.AuthenticationActivity"/>
        <activity android:name=".toolbox.ToolboxActivity"/>
        <activity android:name=".username_screen.activities.UsernameMainActivity"/>
        <activity android:name=".username_screen.activities.UsernameChooseActivity"/>
        <activity android:name=".username_screen.activities.UsernameNewActivity"/>
        <activity android:name=".recall.first_recall.first_screen.FirstScreenActivity"/>
        <activity android:name=".recall.first_recall.original_set.ApplePencilTableActivity"/>
        <activity android:name=".recall.first_recall.alternative_set_1.OrangePaperWindowActivity"/>
        <activity android:name=".recall.first_recall.alternative_set_2.LemonRulerFlowerActivity"/>
        <activity android:name=".recall.delayed_recall.first_screen.DelayedRecallFirstScreenActivity"/>
        <activity android:name=".recall.delayed_recall.original.DelayedRecallApplePencilTableActivity"/>
        <activity android:name=".recall.delayed_recall.alternative_set_1.DelayedRecallOrangePaperWindowActivity"/>
        <activity android:name=".recall.delayed_recall.alternative_set_2.DelayedRecallLemonRulerFlowerActivity"/>
        <activity android:name=".recall.next_question.NextQuestionActivity"/>
        <activity android:name=".numbers.five_to_one_reverse.FiveToOneReverseActivity"/>
        <activity android:name=".numbers.serial_threes.SerialThreesActivity"/>
        <activity android:name=".orientation.temporal.main.TemporalOrientationActivity"/>
        <activity android:name=".orientation.temporal.questions.morning_afternoon_evening.MorningAfternoonEveningActivity"/>
        <activity android:name=".orientation.temporal.year.TemporalYearActivity"/>
        <activity android:name=".orientation.temporal.month.TemporalMonthActivity"/>
        <activity android:name=".orientation.temporal.day.TemporalDayActivity"/>
        <activity android:name=".constructor.introduction.ConstructorIntroductionActivity"/>
        <activity android:name=".constructor.TestCompletionActivity"/>
        <activity android:name=".constructor.question_maker.choose_type.ConstructorQuestionMakerActivity"/>
        <activity android:name=".constructor.question_maker.question_types.yes_or_no.ConstructorYesNoQuestionActivity"/>
        <activity android:name=".constructor.question_maker.question_types.mcq.ConstructorMcqQuestionActivity"/>
    </application>

</manifest>